<footer class="d-flex flex-row-nowrap justify-content-center p-20">
	<div class="content p-20">
		<p>
			<i class="fas fa-copyright"></i>
			Eureka - Tous droits réservés Tai - 2022</p>
	</div>
</footer>
