<header class="d-flex flex flex-row-nowrap justify-content-center p-20">
	<div class="content flex-fill">
         <a href="{{ path('home') }}">
            <img src="{{ asset('images/logo.png') }}" class="header-logo">
         </a>
    </div>
</header>
