/* theme */

:root {
    --primary: #4895ef ;
    --primary-light: #4ccaf0a8;
    --accent: #560BAD;
    --warning: #e63946 ;
    --success: #5edb6a;
    --font-family:'Open Sans', sans-serif;;
    --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    --border-radius: 3px;
    --gray-light: #dddddd9a;
    --border: 1px solid var(--gray-light);
    --color: #212529;
    --color-dark:#001219 ;
    --color-primary: white;
    --gray: #6c757d;
    --gray-dark: #495057 ;
    --max-width: 1200px;
    --font-size-small: 14px;
}

/* debug */

.b1 {
    background-color: red;
}

.b2 {
    background-color: blue;
}

.b3 {
    background-color: yellow;
}

.b4 {
    background-color: orange;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* border box removes the margin applied by default to the content-box which is initially opted */
}

body {
    min-height: 100vh; /* to occupy all space within page */ 
    font-family:var(--font-family);
    color: var(--color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color: var(--gray-dark);
}

/* flex */

.d-flex {
    display: flex;
}

.flex-row-nowrap {
    flex-flow: row nowrap
}

.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.flex-fill {
    flex: 1;
}

/* margin */

.m5 {
    margin: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

/* padding */

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.py-20 {
    padding-top: 20px;
}

.py-50 {
    padding-top: 50px;
}

/* general */

.content {
    max-width: var(--max-width);
}

.btn {
    border-radius: var(--border-radius);
    padding: 10px 20px;
    border: 0;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
    transition: opacity 0.4s;
}

.btn-small {
    padding: 5px 15px;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--color-primary);
    font-weight: 600;
}

.btn-primary-stroke {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: white;
}

/* sidebar */

.sidebar {
    min-width: 200px;
}

.sidebar-nav li {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

.sidebar-nav li i {
    color: var(--color-dark);
    font-size: var(--font-size-small);
}

.sidebar-nav li:hover {
    opacity: 0.8;
    transition: opacity 0.4s;
}

.active {
    border-left: 5px solid var(--primary);
    background-color: var(--primary-light);
}

/* header */ 

header {
    box-shadow: var(--box-shadow);
}

.header-search {
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    max-width: 400px;
}

.header-search input {
    border: 0;
    outline: 0;
    background: var(--gray-light);
    opacity: 0.3;
}

.header-logo {
    width: 300px;
    display: flex;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
    color: var(--primary);  
    align-items: center;
}

.header-logo img {
    max-width: 50px;
}

.logo-title {
    margin-right: 10px;
}