/* theme */

:root {
    --primary: #4895ef ;
    --primary-light: #4CC9F0;
    --accent: #560BAD;
    --warning: #e63946 ;
    --success: #5edb6a;
    --font-family:'Open Sans', sans-serif;;
    --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    --border-radius: 3px;
    --border: 1px solid #ddd;
    --color: #212529;
    --color-dark:#001219 ;
    --gray: #6c757d;
    --gray-dark: #495057 ;
    --max-width: 1200px;
}

/* debug */

.b1 {
    background-color: red;
}

.b2 {
    background-color: blue;
}

.b3 {
    background-color: yellow;
}

.b4 {
    background-color: orange;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* border box removes the margin applied by default to the content-box which is initially opted */
}

body {
    min-height: 100vh; /* to occupy all space within page */ 
    font-family:var(--font-family);
    color: var(--color);
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5 {
    color: var(--gray-dark);
}

/* flex */

.d-flex {
    display: flex;
}

.flex-row-nowrap {
    flex-flow: row nowrap
}

.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.flex-fill {
    flex: 1;
}

/* margin */

.m5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

/* padding */

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

/* general */

.content {
    max-width: var(--max-width);
}
/* sidebar */

.sidebar {
    min-width: 200px;
}